$icomoon-font-path: "fonts" !default;

$icon-star: "\e838";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?kn4s28');
  src:  url('#{$icomoon-font-path}/icomoon.eot?kn4s28#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?kn4s28') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?kn4s28') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?kn4s28#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star {
  &:before {
    content: $icon-star;
  }
}

.star-component {
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
}

